### pandas
- 시리즈 연산
  - 시리즈 안에 들어가는 데이터 형식은 array이므로 numpy의 연산을 그대로 적용이 가능하다.
- 시리즈의 인덱싱
- 시리즈의 Boolean
- 조건 지정하여 해당하는 데이터 가져오기
  - & : (and)
  - | : (or)
- 시리즈의 슬라이싱
  - 인덱스 번호로 가져오게되면 마지막 값의 하나 이전 데이터까지 가져옴
  - 인덱스 이름으로 가져오게되면 마지막 값까지 가져옴

In [2]:
import pandas as pd
ingu = pd.Series([9904312,3448737,2890451,2466052], index = ["서울","부산","인천","대구"])
ingu.name = "인구"
ingu.index.name = "지역"
ingu

지역
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [4]:
# 데이터를 1000000으로 나누는 연산
# 각 요소별로 연산이 적용된다.
ingu/1000000

지역
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [8]:
# 시리즈 인덱싱
ingu[1],ingu["부산"]

(3448737, 3448737)

In [10]:
# 한번에 여러 데이터 가져오기
ingu[[0,2,3]]

지역
서울    9904312
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [13]:
# 시리즈의 boolean
# 인구가 250만 이상인지 확인
ingu>=2500000

지역
서울     True
부산     True
인천     True
대구    False
Name: 인구, dtype: bool

In [14]:
# 인구가 250만 이상인 데이터만 가져오기
ingu[ingu>=2500000]

지역
서울    9904312
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [16]:
# 인구가 250만 이상이면서 500만 이하인 데이터만 가져오기
ingu[(ingu>=2500000) & (ingu<=5000000)]

지역
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [17]:
# 인구가 250만 이하이거나 500만 이상인 데이터만 가져오기
ingu[(ingu<=2500000)|(ingu>=5000000)]

지역
서울    9904312
대구    2466052
Name: 인구, dtype: int64

In [26]:
# 첫번째 인덱스부터 두번째 값까지 가져오기
# 지정한 숫자의 하나 전 값까지 가져오는것에 주의 
ingu[1:3]

지역
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [24]:
# 부산부터 대구까지의 값 가져오기
# 인덱스의 이름으로 가져오면 마지막 지정한 값까지 가져옴!
ingu["부산":"대구"]

지역
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64