### Pandas 기본

In [1]:
import pandas as pd

In [6]:
# Series 생성
obj = pd.Series([1,2,-5,4])
obj

0    1
1    2
2   -5
3    4
dtype: int64

In [7]:
# 인덱스 설정하여 Series 생성
obj2 = pd.Series([1,2,-5,4], index = ["d","b","a","c"])
obj2

d    1
b    2
a   -5
c    4
dtype: int64

In [9]:
# Series 데이터 값 확인
# 시리즈 형태의 데이터는 array 형으로 들어가게 됨
obj2.values

array([ 1,  2, -5,  4], dtype=int64)

In [12]:
# Series 데이터 인덱스 확인
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [13]:
# Series 데이터 데이터 타입 확인
obj2.dtype

dtype('int64')

### 실습
- 각 도시의 2015년 인구 데이터를 시리즈로 만들어보라
- 그리고 시리즈에 이름을 지정하라
  - 데이터 : 인구
  - 인덱스 : 도시

In [14]:
ingu = pd.Series([9904312,3448737,2890451,2466052], index = ["서울","부산","인천","대구"])
ingu

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [15]:
ingu.name = "인구"
ingu.index.name = "도시"
ingu

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64